<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaschinenVerwaltung.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MaschinenVerwaltung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MaschinenVerwaltung.UserSettings>
            <setting name="FontName" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ColumnHeaderTypWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderGerätenummerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderOriginalnummerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderBemerkungWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderTÜVWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderNichtVorhandenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderButtonBearbeitenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderButtonLöschenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StayLogon" serializeAs="String">
                <value>False</value>
            </setting>
        </MaschinenVerwaltung.UserSettings>
    </userSettings>
</configuration>